.register{
    background:-webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    .register-left{
        text-align: center;
        color: #fff;
        margin-top: 4%;
        .custom-button{
            border: none;
            background-color: #f8f9fa;
            border-radius: 24px;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
            width: 60%;
        }

        img{
            margin-top: 15%;
            margin-bottom: 5%;
            width: 25%;
            -webkit-animation: mover 2s infinite  alternate;
            animation: mover 1s infinite  alternate;
        }
        @-webkit-keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-20px); }
        }
        @keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-20px); }
        }

        p{
            font-weight: lighter;
            padding: 12%;
            margin-top: -9%;
        }
    }

    .register-right{
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;

        .nav-tabs{
            margin-top: 3%;
            border: none;
            background: #0062cc;
            border-radius: 1.5rem;
            width: 28%;
            float: right;
            .nav-left{
                padding: 2%;
                height: 34px;
                font-weight: 600;
                // color: #fff;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;

                .active{
                    width: 100px;
                    color: #0062cc;
                    border: 2px solid #0062cc;
                    border-top-left-radius: 1.5rem;
                    border-top-right-radius: 1.5rem;
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }
            }

            .nav-left:hover{
                border: none;
            }

            .nav-right{
                padding: 2%;
                height: 34px;
                font-weight: 600;
                // color: #fff;
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;

                .active{
                    width: 100px;
                    color: #0062cc;
                    border: 2px solid #0062cc;
                    border-top-left-radius: 1.5rem;
                    border-top-right-radius: 1.5rem;
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }
            }

            .nav-right:hover{
                border: none;
            }
        }


        .register-heading{
            text-align: center;
            margin-top: 8%;
            margin-bottom: -15%;
            color: #495057;
        }
        
        .register-form{
            padding: 10%;
            margin-top: 10%;
            .form-control{
                box-shadow: none;
                border:#383d41;
            }
        }

        .btnRegister{
            float: right;
            margin-top: 10%;
            border: none;
            border-radius: 1.5rem;
            background: #0062cc;
            padding: 2%;
            color: #fff;
            font-weight: 600;
            width: 60%;
            outline: none;
            cursor: pointer;
        }
    }
}